* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

.logo h1 {
  font-size: 60px;
  color: #cc3333;
  text-align: center;
}

h1 {
  font-size: 42px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
  list-style: none;
  font-size: 18px;
}

a:hover {
  color: darkgray;
  cursor: pointer;
}

header {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.laesmere a {
  text-decoration: underline;
}

.forside_undersider {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.forside_undersider a {
  font-size: 24px;
  border: solid 1px black;
  padding: 10px;
  border-radius: 2px;
}

.forside_undersider a:hover {
  color: darkgrey;
  cursor: pointer;
}

.kategori_grid {
  display: grid;
  gap: 30px;
}

.kategori_grid a {
  justify-content: center;
  align-items: center;
}

.kategori {
  border: solid 2px lightgray;
  border-radius: 5px;
  padding: 15px;
}

.kategori:hover {
  background-color: lightgray;
  cursor: pointer;
}

.underkategorier_flex {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.underkategorier a:hover {
  color: gray;
}

.produktliste_grid {
  display: grid;
  gap: 10px;
  margin-left: 100px;
}

.bold,
.bold_3 {
  width: 60%;
  margin-bottom: 30px;
}

.bold img {
  align-self: center;
  height: auto;
  margin: 0 auto;
}

.bold_3 img {
  opacity: 0.5;
}

.subtle {
  color: #6d6e71;
}

.price {
  font-weight: bold;
}

.procent {
  position: absolute;
  top: 17%;
  left: 74%;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
}

.sale {
  color: red;
}

.sale_p {
  position: absolute;
  background-color: red;
  padding: 6px;
}

.sold {
  position: relative;
  top: -63%;
  left: 6%;
}

.sold_p {
  position: absolute;
  background-color: grey;
  padding: 6px;
}

.sold_2 {
  position: relative;
  top: -58.5%;
  left: 6%;
}

.sold_p_2 {
  position: absolute;
  background-color: grey;
  padding: 6px;
}

/*PRODUKT*/

.bold_img img {
  width: 50%;
  margin-left: -10px;
  border-radius: 20px;
  border: solid 1px black;
}

.bold_txt {
  margin-left: -1px;
  background-color: lightgrey;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px black;
  margin-top: 30px;
  text-align: center;
}

.info_box {
  width: 50%;
  position: absolute;
  background-color: lightgrey;
  border-radius: 10px;
  top: 58%;
  left: 44%;
  padding-left: 50px;
  padding-right: 50px;
  border: solid 1px black;
}

.label {
  display: flex;
}

form {
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

button {
  cursor: pointer;
}
